body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.backup{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: '';
    background: linear-gradient(45deg, #24006b, #f42f8c );
}
.cont{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px , 1fr));
    grid-gap: 20px;
    margin: 0 auto;
}
.cont .back_card{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 15px 60px rgba(0,0,0,0.5);
}
.cont .back_card .face{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont .back_card .face.face1{
    box-sizing: border-box;
    padding: 20px;
}

.cont .back_card .face.face1 h2{
    margin: 0;
    padding: 0;
}
.cont .back_card .face.face2{
    background: #111;
    transition: 0.5s;
}
.cont .back_card:nth-child(1) .face.face2{
    background: linear-gradient(45deg, #3503ad, #f7308c ) 
}
.cont .back_card:hover .face.face2{
    height: 60px;
}
.cont .back_card .face.face2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.1);
}
.cont .back_card .face.face2 h2{
    margin: 0;
    padding: 0;
    font-size: 6em;
    color: #fff;
    transition: 0.5s;
}
.cont .back_card:hover .face.face2 h2{
    font-size: 2em;
}


/*
.backlogo{
    text-align: center;
    padding-bottom: 5%;
}
.backlogo img:nth-child(1){
    width:7%;
}
.backlogo img:nth-child(2){
    width:20%;
    padding-left: 20px;
}
.box{
    position: relative;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 400px;
    padding: 10px;
    margin: auto;
    background: #001e2d;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5); 
    border: 2px solid rgba(0,0,0,0.5);
}
.box::before{
    content: "";
    position: absolute;
    top: 0;
    left:100%;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: 0.5;
    pointer-events: none;
}
.box:hover::before{
    left: -50%;
    transform: skewX(-5deg);
    transition: 0.5s;
}
.box .content{
    position: absolute;
    top: 1%;
    left: 1%;
    right: 1%;
    bottom: 1%;
    border: 2px solid #9c9c9c;
    padding: 30px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.box .content h1{
    color: white;
    font-size: 2em;
    text-transform: uppercase;
    margin: 0 0 10px;
    padding: 0;
}
.box .content p{
    padding: 30px 0 0 0;
    color: white;
}
.box .content button{
    position: relative;
    margin: 20px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #fff;
    display: inline-block;
    color: #fff;
    transition: 0.5s;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
}
.box:hover .content button{
    transform:  translateY(0);
    opacity: 1;
    visibility: visible;
}
.box .content button:hover{
    color: #000;
    background: #fff;
}
.box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}
.box span:nth-child(1){
    transform: rotate(0deg);
}
.box span:nth-child(3){
    transform: rotate(180deg);
}
.box span::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #02fe7f;
}
.box:hover>span::before{
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        transform: scaleX(0);
        transform-origin: left;
    }
    50%{
        transform: scaleX(1);
        transform-origin: left;
    }
    50.1%{
        transform: scaleX(1);
        transform-origin: right;
    }
    100%{
        transform: scaleX(0);
        transform-origin: right;
    }

} */